.home{
    height: 100vh;
    background-image: url('../image/h_img.jpg');
    background-size: cover;
    align-items: center;
}

.services {
    background-image: url('../image/s_image.jpg');
    background-size: cover;
}

h2 {
    align-items: center;
}