.home  h2 {
    height: 100vh;
    background-image: url('../image/s_image.jpg');
    background-size: cover;
}

.services {
    background-image: url('../image/s_image.jpg');
    background-size: cover;
}

h1 {
    align-items: center;
}