.home  h2 {
    width: 100%;
    height: 70%;
    background-image: url('/image/h_img.jpg');
}

.services {
    background-image: url('/image/s_image.jpg');
    background-size: cover;
}

h2 {
    align-items: center;
}